[Unit]
Description=GitHub Actions Runner
After=network.target

[Service]
ExecStart=/home/ec2-user/actions-runner/run.sh
WorkingDirectory=/home/ec2-user/actions-runner
User=ec2-user
Restart=always


[Install]
WantedBy=multi-user.target